
<div class="lined-block">
    <label class="gray-text">Список друзей</label>

    @if (Model.Friends.Count != 0)
    {

        @foreach (var user in @Model.Friends)
        {
            <div>
                <label>@user.GetFullName()</label>
                <form asp-controller="AccountManager" asp-action="DeleteFriend" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Удалить из друзей
                    </button>
                </form>
            </div>
            <div>
                <div class="mrgn center-align">
                    <img src="@user.Image" class="ava" />
                </div>
                <div class="mrgn center-align">
                    @user.GetFullName()
                </div>
                <div class="mrgn center-align">
                    <form asp-controller="AccountManager" asp-action="DeleteFriend" asp-route-id="@user.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Удалить из друзей
                        </button>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <div>
            <label> У вас пока нет друзей.</label>
        </div>
    }

</div>